# Dependencies
/node_modules

# Build files
/dist
/build

# Local environment variables
.env
.env.local
.dev.vars

# Log files
npm-debug.log
yarn-error.log

# IDE & temporary files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.tmp
.DS_Store